.primary-bg{
    background-color:rgba(26, 11, 46, 1);
}

.primary-text-color{
    color: rgba(255, 255, 255, 1);
}
.secondary-text-color{
    color: rgba(0, 255, 136, 1);
}



.primary-gradient{
    background: linear-gradient(to top,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
}

.primary-btn{
    border-radius: 30px;
     background: linear-gradient(to top,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 10px 30px;
}
.secondary-btn{
    border-radius: 30px;
    border: 2px solid rgba(0, 255, 136, 1);
    color: rgba(0, 255, 136, 1);
    padding: 10px 30px;
}
.banner-btn{
    background-color: rgba(0, 255, 136, 1);
    padding: 2px 12px;
    border-radius: 30px;
    position: absolute;
    margin-top: 10px;
    margin-left: 180px;
    font-weight: 600;
}


/* banner section Styles */

.banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-img{
    width: 250px;
    height: 250px;
    background-image: url(../assets/hero-circle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

/* Podcast section styles */
.fa-star{
    font-size: 1.5rem;
}

/* TechWave section Styles */

.techwave-container{
    background-color: rgba(35, 14, 61, 1);
}

.techwave-parts{
    border-radius: 30px;
    background-color: rgba(53, 17, 101, 0.4);
}

.features{
     border-radius: 20px;
     background-color: rgba(53, 17, 101, 0.4);
}

#iframe{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.social-link{
    width: 25px;
    height:25px;
    padding:5px;
    border: 1px solid gray;
    border-radius: 8px;
}

.host{
     border-radius: 20px;
     background-color: rgba(53, 17, 101, 0.4);
}

.footer{
    background-color: rgba(35, 14, 61, 1);
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}